extends ../admin_layout
mixin renderDashboardStat(id, name, underName, moreInfo)
    .col-xs-6.col-sm-3.placeholder
        .admin-stat(id=id)
            span: i.fa.fa-circle-o-notch.fa-spin
        h4 #{name}
        span.text-muted
            .
                #{underName}
            if moreInfo
                br
                small #{moreInfo}
block adminDependencies
    - var js = ["/js/build/admin_dashboard.js", "https://cdn.bootcdn.net/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.js"];
    - var jsSnippets = [`loadRecentActionsIntoContainer($("#actions-ctn"), 10, false, false)`];
block adminContent
    h1.page-header 仪表盘
    // Status Updates
    .row.placeholders
        +renderDashboardStat("users-online", "在线用户", "当前", null)
        +renderDashboardStat("new-accounts", "新账户", "过去24小时内", null)
        +renderDashboardStat("pixels-placed", "绘制像素", "过去24小时内", null)
        +renderDashboardStat("pixels-placed-2", "绘制像素", "每分钟", "(过去20分钟内平均)")
    if user.admin
        // Administrator Actions
        .section-heading
            h2.sub-header 管理员操作
        .content#admin-actions 加载中
        - jsSnippets.push(`$("#admin-actions").html(renderServerActions())`);
    // Recent Actions
    .section-heading
        h2.sub-header 当前操作
        a(href="/admin/actions") 查看全部 &raquo;
    .dashboard-actions-ctn.compact#actions-ctn
    if user.admin
        form#broadcastForm: .dialog-ctn
            .dialog-overlay
            .dialog#broadcast-dialog
                .close &times;
                .pages
                    .active(tab-name="sign-up")
                        .heading
                            span.site #{config.siteName}
                            h1 发送管理广播
                            p.subhead 发送一个消息给所有当前查看连接到websocket的用户s。
                        .content
                            label.sr-only(for="inputBroadcastTitle") 标题（可选）
                            input.form-control#inputBroadcastTitle(type="text", placeholder="标题（可选）")
                            label.sr-only(for="inputBroadcastMessage") 信息
                            input.form-control#inputBroadcastMessage(type="text", placeholder="信息")
                            label.sr-only(for="inputBroadcastTitle") 样式
                            select.selectpicker.form-control#inputBroadcastStyle
                                option(value="info") 信息式
                                option(value="success") 成功
                                option(value="warning") 警告
                                option(value="danger") 危险
                            label.sr-only(for="inputBroadcastTimeout") 逾时
                            input.form-control#inputBroadcastTimeout(type="number", placeholder="持续时间", value="0", aria-describedby="inputBroadcastTimeoutHelpBlock")
                            small.text-muted.help-block#inputBroadcastTimeoutHelpBlock 在多久后自动解除提醒（以秒为单位）。 输入 #[strong 0] 禁用自动解除。
                .dialog-footer.align-end
                    button.btn.btn-popping.btn-default(type="button", data-dialog-dismiss=true) 取消
                    button.btn.btn-popping.btn-primary(type="submit") 发布
