extends ../layout
block content
    .container.norctn
        h1 嗨喽，#{user.name}!
        p.lead.text-muted 在你继续前往 #{config.siteName} 之前，我们需要你的同意.
        p Our #[a(href="/tos") 服务条款] 自你上次使用 #{config.siteName} 后发生了变更，所以在我们允许您继续使用 #{config.siteName} 前，你需要接受新的服务条款。请阅读所提供的服务条款，并在本页底部注明您同意或不同意。
        hr
        div !{md}
        hr
        p.text-muted If you agree with the new Terms of Service, click #[strong 同意] to continue to #{config.siteName}. If you do not agree to the new Terms of Service, you may not use #{config.siteName}, click #[strong Disagree] to be signed out.
        form(method="POST")
            input(type='hidden', name='_csrf', value=_csrf)
            input(type="hidden", name="tosAccepted", value="true")
            .
                #[input.btn.btn-success(type="submit", value="Agree")] #[a.btn.btn-danger(href="/signout?redirectURL=" + redirectURLPart) Disagree]