extends ../layout
block content
    .container.norctn
        h1 嗨喽，#{user.name}!
        p.lead.text-muted 在你继续前往 #{config.siteName} 之前，我们需要你的同意.
        p Our #[a(href="/tos") 服务条款] 自你上次使用 #{config.siteName} 后发生了变更，所以在我们允许您继续使用 #{config.siteName} 前，你需要接受新的服务条款。请阅读所提供的服务条款，并在本页底部注明您同意或不同意。
        hr
        div !{md}
        hr
        p.text-muted 如果您同意新的服务条款，请单击 #[strong 同意] 以继续使用 #{config.siteName}。如果您不同意新的服务条款，则不能继续使用 #{config.siteName}，点击 #[strong Disagree] 退出。
        form(method="POST")
            input(type='hidden', name='_csrf', value=_csrf)
            input(type="hidden", name="tosAccepted", value="true")
            .
                #[input.btn.btn-success(type="submit", value="同意")] #[a.btn.btn-danger(href="/signout?redirectURL=" + redirectURLPart) 不同意]